<%- include('header') -%>


  <div class="box" id="heading">
    <h1><%= title %></h1>
  </div>
  <!-- <% if (title === 'Saturday' || title === 'Sunday'){ %>
    <h1 style='color: purple;'><%= title %> To Do List</h1>
  <% } else { %>
    <h1 style='color: pink;'><%= title %> To Do List</h1>
  <% } %> -->
  <div class="box">
    <% for (let i=0; i<newTodos.length; i++){ %>
      <div class="item">
        <input type="checkbox">
        <p><%= newTodos[i] %></p>
      </div>
    <% } %>
    <form action="/" method="POST" >
      <input type="text" name="todo" placeholder="NEW TO DO" autocomplete="off">
      <button type="submit" name="button" value="indexList">+</button>
    </form>
  </div>

  <%- include('footer') -%>